/* Body of the Page - all htmls*/

html, body{
    background-image: url("../images/morocco-blue.png");
    background-repeat: repeat-x;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    margin: 0px;
  
}


/* Header - where we have name and the links*/
/* bar that contains all - all htmls*/



/* About Me bar -- all htmls */
.Header1{
    color:#4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    display: block;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #777777;
    margin-bottom: 10px;
    position: relative;
}






